/* Universal Box Sizing */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Resetting body margin and setting the font */
body {
  margin: 0;
  font-family: 'segoe ui';
  padding-top: 50px; 
  margin-bottom: 20px;
}

/* Main Navigation Bar */
.nav {
  padding: 6px;
  height: auto;
  display: flex;
  width: 100%;
  background-color: #101013;
  justify-content: space-between;
  position: fixed; 
  top: 0; 
  z-index: 1000; 
}

/* Nav Header Section */
.nav > .nav-header {
  display: inline;
  padding: 4px;
  float: left;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

/* Default Hidden Hamburger Button */
.nav > .nav-btn {
  display: none;
}

/* Nav Links Positioned Inline */
.nav > .nav-links {
  display: inline;
  font-size: 18px;
  padding-right: 100px;
}

/* Navigation Link Styles */
.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px;
  text-decoration: none;
  color: #efefef;
  position: relative; /* For animation */
  overflow: hidden;
}

/* Add Smooth Animation Effect */
.nav > .nav-links > a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  height: 3px;
  width: 100%;
  background-color: #877ac7; /* Animation Color */
  transition: left 0.3s ease-in-out; /* Smooth transition */
}

.nav > .nav-links > a:hover::before {
  left: 0; /* Trigger the animation on hover */
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Hide Menu Unless The Hamburger Menu is Checked - Media Query */
.nav > #nav-check {
  display: none;
}

/* Responsive Media Query for Hamburger Menu */
@media (max-width: 600px) {
  /* Hamburger Menu Button */
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  /* Menu Links - Hidden by default */
  .nav > .nav-links {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #101013;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    padding-right: 0px;
    left: 0px;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 300px);
    overflow-y: auto;
  }

  /* Flexbox to Center the Links */
  .nav > .nav-links > a {
    display: block;
    text-align: center;
    padding: 15px;
    color: #efefef;
    font-size: 20px;
  }
}
